<?xml version="1.0" encoding="UTF-8"?>
<config>
  <info>
    <type>web</type>
    <id>AA5BAACB-732E-4F84-96BA6AABB0F908F0</id>
    <name>${pom.name}</name>
    <label>${pom.description}</label>
    <description>${pom.description}</description>
    <version>${pom.version}</version>
    <image>https://raw.githubusercontent.com/jbvanzuylen/cf-pass/master/logo.png</image>
    <author>Jean-Bernard van Zuylen</author>
    <support>https://github.com/jbvanzuylen/cf-passs/issues</support>
    <created>${ext.release.date}</created>
  </info>
</config>